<h1>Success! Please use this link:</h1>
<a href="/shortenedurls/{{shortenedUrl}}" target="_blank"
  style="display: block;">https://sheltered-dawn-04383.herokuapp.com/shortenedurls/{{shortenedUrl}}</a>
<a href="/" class="btn btn-outline-dark">Shorten another link</a>